@charset "utf-8";

/* header서식 */
header {
  height: 64px;
  background: var(--main_txt_color);
  position: relative;
}

header h1 {
  text-align: center;
}

header h1 img {
  width: 48px;
  padding-top: 5px;
}

/* 메인 서식 */
main section h2 {
  display: none;
  font-size: 20px;
  text-align: center;
  padding: 20px 0px;
  font-weight: bold;
}

section img {
  width: 100%;
  display: block;
}

/* footer서식 */
footer img {
  width: 100%;
}

/* 로그인 서식 */


.login_box,
.join_box {
  width: 100%;
}

.login_box h2 {
  display: block;
  background-color: #ccc;
  padding: 30px 0px;
}

.join_box h2 {
  display: block;
  background-color: #ccc;
}

.login_form,
.join_form {
  line-height: 40px;
  padding: 30px 20px 100px 20px;
  margin: 0 auto;
}

.form_p,
.join_p {
  width: 100%;
}

.form_p:first-child {
  padding: 20px 0px;
  font-size: 14px;
}

.form_p label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  /* ← 클릭 영역 확장 */
  cursor: pointer;
}

.form_p:nth-child(2)>label {
  display: none;
}

.form_p:nth-child(3)>label {
  display: none;
}

.join_p>label {
  display: none;
}

.form_p:nth-child(2)>input {
  text-indent: 15px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.form_p:nth-child(3)>input {
  text-indent: 15px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 0px;
}

.join_p>input {
  text-indent: 15px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.join_p:first-child>button {
  float: right;
  margin-bottom: 10px;
  border: none;
  background: #333;
  color: #fff;
  padding: 3px 10px;
  border-radius: 3px;
}

.join_p:first-child>button:hover {
  background: rgb(51, 51, 51, 0.8);
}

.id_save label,
.check_save label {
  display: inline-block;
  padding: 10px 0px;
  font-size: 13px;
  line-height: 50px;
  cursor: pointer;
}

.submit_btn>button {
  background: rgb(206, 4, 4);
  border: none;
  width: 100%;
  padding: 10px 0px;
  color: #fff;
}

.submit_btn>button:hover {
  background: rgb(177, 4, 4);
}

/* 휴대폰 본인인증 버튼 */
.auth_p{
  font-size:14px;
  font-weight: 500;
  text-align: center;
  padding-bottom:30px;
}
.phone_auth>button {
  border: none;
  width: 100%;
  padding: 10px 0px;
  color: #fff;
  background: rgb(206, 4, 4, .8);
  cursor: pointer;
}
.phone_auth>button:hover {
  background: rgb(206, 4, 4 );
}

.link_group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link_group a {
  display: block;
  padding: 2px 0px;
  color: #333;
}

.link_group a:hover {
  text-decoration: underline;
}